@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
</head>
<body>

<h1 class="text-light">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-light">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.FirstName" class="text-light"> First Name </label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.LastName" class="text-light"> LastName </label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Email" class="text-light"> Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Username" class="text-light"> Username </label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password" class="text-light"> password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword" class="text-light"> Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <label asp-for="Input.Code" class="text-light"> Code </label>
                <input asp-for="Input.Code" class="form-control" autocomplete="Code" aria-required="true" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <br />
            <br />
            <Br />


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Register</button>
        </form>
    </div>
</div>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
