@{
    ViewData["Title"] = "Home Page";
}

<style>
    #gs {
        border-radius: 30px; 
        background-color: transparent; 
        border: 2px solid white; 
        color: white;
        text-align: center;
        padding: 15px 32px

    }
    #gs:hover {
        background-color: white;
        border-radius: 30px;
        transition: all .5s ease-in-out;
        color: green;
    }
    
</style>

<div>
    <div class="container-fluid">
        <div class="row no-gutters">


            <!--CARD-------------------------------------------------------------------------------------------->

            <div class="col-xl-15 main">                    
                <div class="container-fluid text-center" ><br><br>
                   
                    <div class="card-body" style = "background-color: rgba(0, 0, 0, 0.7); border-radius: 10px;  color: white;" >
                        <a type="button" href="Responses/Add" class="button" id="gs">Get Started</a>
                        <br />
                        <br />
                        <h5>JAE Hub is composed of passionate young Professionals that shares the same dream of working towards their main goal 
                            of helping people learn and grow with technology to succeed in their different line of businesses.
                        </h5>
                        <br/>
                        <br/>
                        <div>
                        <p> For more info visit the official website of JAE Hub. <br/>
                            <a href="https://jaehubservices.com" style = "color: lightgreen">Click here</a></style></p>
                        </div>

                    </div>
                   
                        
                        
                    
                </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>


