@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<header class="container">
    <div class="content">
        <span class="blur"></span>
        <span class="blur"></span>
        <h4>LOOKING FOR AN INTERSHIP?</h4>
        <H1>
            <span> JAE HUB </span>
        </H1>
        <H1>Web Development Services</H1>
        <p>
            Composed of passionate young Professionals that shares the same dream of working 
            towards their main goal of helping people learn and grow with technology to succeed 
            in their different line of businesses.
        </p>
        <form action="Responses/Add">
            <button class="btn" type="submit">APPLY NOW</button>
        </form>
    </div>
=======
<style>
    #gs {
        border-radius: 30px; 
        background-color: transparent; 
        border: 2px solid white; 
        color: white;
        text-align: center;
        padding: 15px 32px

    }
    #gs:hover {
        background-color: white;
        border-radius: 30px;
        transition: all .5s ease-in-out;
        color: green;
    }
    
</style>

<div>
    <div class="container-fluid">
        <div class="row no-gutters">


            <!--CARD-------------------------------------------------------------------------------------------->

    .custom-container {
        width: 95%;
        max-width: 1400px; /* Added max-width to ensure content doesn't stretch too much on large screens */
        margin: 0 auto;
    }
</style>

<div class="custom-container mt-5">
    <div class="row">
        <!--CARD-->
        <div class="col-xl-12 main">
            <div class="text-center py-4">
                <div class="card-body dark-card">
                    <button class="btn btn-gs" onclick="location.href='Responses/Add'">Get Started</button>
                    <h5>
                        JAE Hub is composed of passionate young Professionals that share the same dream of working towards their main goal of helping people learn and grow with technology to succeed in their different lines of business.
                    </h5>
                    <p>
                        For more info visit the official website of JAE Hub. <br>
                        <a href="https://jaehubservices.com" class="jae-link">Click here</a>
                    </p>
                </div>
            </div>
        </div>
>>>>>>> 986aabd0cfc65ba27efa532aff79f0d9e454bc56
    </div>
    <div class="image">
        <img class="intern" src="~/header.jpg">
    </div>
</header>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
