@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<header class="container">
    <div class="content">
        <span class="blur"></span>
        <span class="blur"></span>
        <h4>LOOKING FOR AN INTERSHIP?</h4>
        <H1>
            <span> JAE HUB </span>
        </H1>
        <H1>Web Development Services</H1>
        <p>
            Composed of passionate young Professionals that shares the same dream of working 
            towards their main goal of helping people learn and grow with technology to succeed 
            in their different line of businesses.
        </p>
        <form action="Responses/Add">
            <button class="btn" type="submit">APPLY NOW</button>
        </form>
    </div>
=======
<style>
    #gs {
        border-radius: 30px; 
        background-color: transparent; 
        border: 2px solid white; 
        color: white;
        text-align: center;
        padding: 15px 32px

    }
    #gs:hover {
        background-color: white;
        border-radius: 30px;
        transition: all .5s ease-in-out;
        color: green;
    }
    
</style>

<div>
    <div class="container-fluid">
        <div class="row no-gutters">


            <!--CARD-------------------------------------------------------------------------------------------->

            <div class="col-xl-15 main">                    
                <div class="container-fluid text-center" ><br><br>
                   
                    <div class="card-body" style = "background-color: rgba(0, 0, 0, 0.7); border-radius: 10px;  color: white;" >
                        <a type="button" href="Responses/Add" class="button" id="gs">Get Started</a>
                        <br />
                        <br />
                        <h5>JAE Hub is composed of passionate young Professionals that shares the same dream of working towards their main goal 
                            of helping people learn and grow with technology to succeed in their different line of businesses.
                        </h5>
                        <br/>
                        <br/>
                        <div>
                        <p> For more info visit the official website of JAE Hub. <br/>
                            <a href="https://jaehubservices.com" style = "color: lightgreen">Click here</a>
                        </p>
                        </div>

                    </div>
                   
                        
                        
                    
                </div>
                        
                </div>
            </div>
        </div>
>>>>>>> 986aabd0cfc65ba27efa532aff79f0d9e454bc56
    </div>
    <div class="image">
        <img class="intern" src="~/header.jpg">
    </div>
</header>


