@{
    ViewData["Title"] = "Records";
}
<h1>@ViewData["Title"]</h1>


    <!--CONTAINER FLUID-------------------------------------------------------------------------------------------->
    <div>
        <div class="container-fluid ">

            <!--BG CALL-------------------------------------------------------------------------------------------->
            <div id="pic" class="view drk "></div>
        </div>
    </div>


