@model jae.Models.addIntern
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5847/viewport-selection-opt.jpg" />
    <title> Responsive Form </title>
</head>
<body>
    <form class="form1" action="Add" method="post">
        <fieldset>
            <h1 class="regi"> INTERSHIP FORM </h1>
            <div class="box">
                <label for="name">Name:</label>
                <input class="input" type="text" id="name" asp-for="Name" placeholder="Enter Your Full name" required>
                <span asp-validation-for="Name" class="danger"></span>
            </div>

            <div class="box">
                <label for="course"> Course:</label>
                <input class="input" type="text" id="course" asp-for="Course" placeholder="Computer Engineering" required>
                <span asp-validation-for="Course" class="danger"></span>
            </div>

            <div class="box">
                <label for="school">School: </label>
                <input class="input" type="text" id="school" asp-for="School" placeholder="School" required>
                <span asp-validation-for="School" class="danger"></span>
            </div>

            <div class="box">
                <label for="number">Phone Number:</label>
                <input class="input" type="tel" id="number" asp-for="Number" placeholder="09954136879" required>
                <span asp-validation-for="Number" class="danger"></span>
            </div>

             <div class="box">
                <label for="datestart">Date Start:</label>
                <input class="input" type="date" id="datestart" asp-for="Datestart" placeholder="dd/mm/yy" required>
                <span asp-validation-for="Datestart" class="danger"></span>
            </div>

             <div class="box">
                <label for="renderhrs">Rendered Hours Needed:</label>
                <input class="input" type="number" min="100" id="datestart" asp-for="Renderhrs" placeholder="100" required>
                <span asp-validation-for="Renderhrs" class="danger"></span>
            </div>

            <div class="box">
                <label for="email">Email:</label>
                <input class="input" type="email" id="email" asp-for="Email" placeholder="example@gmail.com" required>
                <span asp-validation-for="Email" class="danger"></span>
            </div>

            <div class="box">
                <label for="address">Address:</label>
                <input class="input" type="text" id="address" asp-for="Address" required>
                <span asp-validation-for="Address" class="danger"></span>
            </div>

            <div class="box">
                <label for="resume">Resume:</label>
                <input class="input" type="text" id="resume" asp-for="Resume" placeholder="Input Link of your Resume/CV" required>
                <span asp-validation-for="Resume" class="danger"></span>
            </div>

            <div class="box">
                <label>Available for Work from Home setup?</label>
                <select id="wfhft" asp-for="wfhft" class="form-select" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="wfhft" class="danger"></span>
            </div>
        </fieldset>
        <div class="text-center">
            <button type="submit" value="Submit" class="btn ">Submit</button>
        </div>

    </form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
<script>
    // Your jQuery code here
</script>

</body>
</html>
