
@model List<jae.Models.Domain.Responses>
@{
}


<div>
    <div class="container-fluid " style =" background-color: white;">
                <form method="post" asp-controller="Responses" asp-action="Index" enctype="multipart/form-data">
                    <h4 class = "container-fluid text-center d-flex justify-content-center align-items-center" style =" color: white;">JAE HUB INTERNS FORM</h4>
                    <div class="table-responsive-l " id="idtable">
                    <table class="table" id="myTable" style = "text-align: center;">
                        <thead class="thead">
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Course</th>
                            <th scope="col">School</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Work from Home?</th>
                            <th scope="col">Date Start</th>
                            <th scope="col">Hours to be Rendered</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Resume</th>
                            <th scope="col">Date Responded</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody style = "background-color: rgba(0, 0, 0, 0.8);">


                        </tbody>
                        </table>
                        <span>Import Excel File</span><input type="file" name="excelfile"/>
                        <br/>
                        <button type="submit" value="Import" class= "btn btn-primary">Upload</button>
                </div>
                </form>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.0/css/buttons.dataTables.min.css">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.3.0/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.3.0/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.3.0/js/buttons.print.min.js"></script>
            <script>
            var js = jQuery.noConflict(true);
            js(document).ready(function () {
                js('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'excel', 'pdf', 'print'
                    ],
                    "ajax": {
                        "url": "/Responses/GetList",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "name" },  
                        { "data": "course" }, 
                        { "data": "school" }, 
                        { "data": "number" },   
                        { "data": "wfhft" },            
                        {
                "data": "datestart",
                "render": function (data, type, row) {
                    var date = new Date(data);
                    return date.toISOString().split('T')[0];
                }
            },
                        { "data": "renderhrs" },
                        { "data": "email" },    
                        { "data": "address" },  
                        { "data": "resume" },           
                        {
                "data": "response",
                "render": function (data, type, row) {
                    var date = new Date(data);
                    return date.toLocaleString('en-US');
                }
            },
                        {"data": "status"},
                                    {
                "data": "id",  
                "render": function (data, type, row) {
                    return '<a type="button" class="btn btn-success my-lg-1 my-md-2 my-sm-2 my-1 px-5" href="/Responses/View/' + data + '" title="Edit"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i>Edit</a>';
                }
            }

                    ],
                    "columnDefs": [
                        {

                        }
                    ],
                            responsive: true,
                            fixedHeader: true
                });
                table.buttons().container().appendTo('.buttons-container');

            });




                $(document).ready(function(){



                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                for (i = 1; i < tr.length; i++) {
                    td4 = tr[i].getElementsByTagName("td")[9];
                    td3 = td4.getElementsByTagName("a")[0].text;

                if (td3 === "" || td3 === null){
                    td4.getElementsByTagName("a")[0].innerHTML = "N/A";
                }
                else {
                    td4.getElementsByTagName("a")[0].innerHTML = "click to view";


                }
                }
                });


                </script>
        </div>

</div>

